<html>
<head>
    <title>Личный кабинет</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{{url_for('static', path='/css/styles.css')}}">
    <script type="text/javascript" src="{{url_for('static', path='/javascript/scripts.js')}}"></script>
</head>
<body>

    <div class="placeholder"></div>
    <form method="POST" action="/login">
        <input type="text" name="username" />
        <input type="password" name="password" />
        <input type="submit" value="Войти" />
    </form>
    <div class="placeholder"></div>

</body>
</html>